<div class="col-md-6">
	<h2 class="text-center">Ajouter Service</h2>
	<form>
		<div class="form-group">
			<label for="code">Code du service :</label>
			<input
				[(ngModel)]="service.code" placeholder="Code" name="code"
				class="form-control" id="code">
		</div>

		<div class="form-group">
			<label for="libelle">Libelle du service :</label> <input
				[(ngModel)]="service.libelle" placeholder="Libelle Service"
				name="libelle" class="form-control" id="libelle">
		</div>

		<button class="btn btn-success" (click)="createService()">Create</button>
	</form>
</div>
