<div class="row">
	<div class="col-lg-3 "></div>
	<div class="col-lg-6">
		<h2 class="text-center">Ajouter une ressource</h2>
		<form>
			<div class="form-group">
				<label for="code">Code :</label>
				<input
					[(ngModel)]="ressource.code" placeholder="Code" name="code"
					class="form-control" id="code">
			</div>
	
			<div class="form-group">
				<label for="nom">Nom:</label> <input
					[(ngModel)]="ressource.nom" placeholder="Nom"
					name="nom" class="form-control" id="nom">
			</div>
	
			<div class="form-group">
				<label for="prenom">Prenom:</label> <input
					[(ngModel)]="ressource.prenom" placeholder="Prenom" name="prenom"
					class="form-control" id="prenom">
			</div>
	
			<button class="btn btn-success center" (click)="createRessource()">Create</button>
		</form>
	</div>
	<div class="col-lg-3"></div>
</div>